<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css"> -->

    <title>La Ribera Store</title>
</head>
<body style="background-color: rgb(133, 214, 122);">
    
    <script>
        const params_form = new URLSearchParams(window.location.search);
        if (params_form.get('msg') === 'guardado') {
            alert('Formulario recibido y usuario guardado correctamente en usuario.json!');
        }

        const params_log = new URLSearchParams(window.location.search);
        if (params_log.get('usuario') === 'correcto') {
            alert('Usuario logeado correctamente, BIENVENIDO!');
        }
    </script>
    <!-- <header class="main-header">
        <div class="logo">Mi e-commerce</div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/registrarse">Registrarse</a></li>
            </ul>
        </nav>
    </header> -->
    <%- include('./partials/header.ejs') %>
    <!-- Funcion donde colocamos nuestra ruta partials/header -->
    <!-- <section class="banner">
        <img src="/img/banner.jpg" alt="Promoción principal">
    </section> -->
        <main>
        <section class="last-visit">
            <h3>Productos</h3>
            <div class="products">
                <% data.forEach((elemento,index)=> {  %>
                <article>
                    <img src="img/<%= elemento.imagen %>" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$<%= elemento.precio %></p>
                        <p class="discount">40% off</p>
                        <h4 class="description"><%= elemento.nombre %></h4>
                        <% if (elemento.url) { %>
                            <a href="<%= elemento.url %>">Ver más</a>
                        <% } %>
                    </div>
                </article>
                <%  });  %>
                <!-- <article>
                    <img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article> -->
            </div>
        </section>
        <section class="last-visit">
            <h3>Servicios</h3>
            <div class="products">
                <% servicios.forEach((elemento,index)=> {  %>
                <article>
                    <img src="/img/<%= elemento.imagen %>" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price"><%= elemento.nombre %></p>
                        <br>
                        <p class="price"><%= elemento.profesion %></p>
                        <h4 class="description"><%= elemento.ubicacion %></h4>
                        <h4 class="description"><%= elemento.telefono %></h4>
                    </div>
                </article>
                <%   });  %>
            </div>
        </section>
        <!-- <section class="offers">
            <h3>Servicios</h3>
            <div class="products">
                
                <article>
                    <img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div> 
        </section> -->
    </main>
    <%- include('./partials/footer.ejs') %>
<!--      <footer>
            <div class="footer-container">
            <div class="footer-section">
                <h4>Acerca de :</h4>
                <ul>
                    <li><a href="#">Pagá con tarjeta o en efectivo</a></li>
                    <li><a href="#">Envío gratis desde $ 2.500</a></li>
                    <li><a href="#">Copyright © 1999-2022 MercadoLiebre S.R.L.</a></li>
                </ul>
            </div>     
            <div class="footer-section">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Cómo comprar</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>    
        <div class="copyright">
            <p>&copy; 2024 Mercado Libre. Todos los derechos reservados.</p>
        </div>
    </footer> --->
</body>
</html>